.home-container{
    background-color: var(--color-silver);  
    
    .home-hero{
        background-color: black;
        video{
            padding-top: 0%;
            width: 75%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: auto;
        }
    }

    .product-information-container{
        max-width: 1200px;
        margin: 1% auto;
        padding: 0% 5%;
        display: flex;
        position: relative;
        color:var(--color-title);

        .product-description{
            width: 45%;
            z-index: 1;
            font-weight: 900;
            h1{
                font-size: var(--step-4);
            }
            p{
                font-size: var(--step-1);
            }
        }

        .anvil-image{
            position: absolute;
            margin-top: -5%;
            transform: rotate(-1deg);
            right: 0;
            margin-right: -12vw;
     

            img{
                width: 58vw;
            }
        }
    }
    
    .small-products{
        display: flex;
        width: 100%;
        height: 70vh;
        position: relative;
        
        
        .first-half{
            width: 100%;
            .upper{
                background-color: blue;
                background-image:url('../../assets/small-items/chandelier.jpg');
                background-position:center; /* Center the image */
                background-repeat: no-repeat; /* Do not repeat the image */
                background-size: cover; /* Resize the background image to cover the entire container */
                width: 100%;
                height: 50%;
            }
            .under{
                background-color: green;
                background-image:url('../../assets/small-items/shelf.jpg');
                background-position:top; /* Center the image */
                background-repeat: no-repeat; /* Do not repeat the image */
                background-size: cover; /* Resize the background image to cover the entire container */
                width: 100%;
                height: 50%;
            }
        }
        .second-half{
            background-color: red;
            background-image:url('../../assets/small-items/candle.jpg');
            background-position:center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
            width: 80%;
            height: 100%;
        }
    }
    
    .small-products-description{
        color:var(--color-silver);
        font-size: var(--step-1);
        font-weight: 900;
        position: absolute;
        align-content: center;
        width: 30%;
        right: 10%;
        top:15%;
        margin: 1% auto;
        padding: 0% 5%;
        background-color: rgb(0, 0, 0, 0.6);
        box-shadow: 0px 0px 12px 12px rgba(0,0,0, 0.6);
        text-shadow: rgba(0, 0, 0, 0.459) 2px 2px 13px;
        border-radius: 10%;
    }
    
    .stairs-container{
        max-width: 1200px;
        margin: 1% auto;
        padding: 0% 5%;
        display: flex;
        position: relative;
        color:var(--color-title);
        
        .stairs-description{
            width: 45%;
            z-index: 1;
            font-weight: 900;
            h1{
                font-size: var(--step-4);
            }
            p{
                font-size: var(--step-1);
            }
        }
        
        .stair-image{
            position: absolute;
            transform: rotate(-1deg);
            right: 0;
            margin-right: -6vw;
            
            img{
                width: 100%;
            }
        }
    }

    .gates-products{
        display: flex;
        width: 100%;
        height: 70vh;
        position: relative;
        
        
        .first-half{
            width: 100%;
            .upper{
                background-image:url('../../assets/gates/1.png');
                background-position:center; /* Center the image */
                background-repeat: no-repeat; /* Do not repeat the image */
                background-size: cover; /* Resize the background image to cover the entire container */
                width: 100%;
                height: 50%;
            }
            .under{
                background-image:url('../../assets/gates/2.jpg');
                background-position:top; /* Center the image */
                background-repeat: no-repeat; /* Do not repeat the image */
                background-size: cover; /* Resize the background image to cover the entire container */
                width: 100%;
                height: 50%;
            }
        }
        .second-half{
            background-image:url('../../assets/gates/3.jpg');
            background-position:center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
            width: 80%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 950px) {
    .home-container{
        .home-hero{
            video{
                width: 140%;
                margin-left: -20%;
                padding: 20% 0%;
            }
        }

        .product-information-container{
            .product-description{
                width: 65%;
            }

            .anvil-image{
                margin-top: 5%;
                
                img{
                    min-width: 600px;
                }
            }
        }
        .small-products-description{
            width: 45%;
        }
        
        .stairs-container{
            .stairs-description{
                width: 65%;
            }
        }

    }
}