.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
  }

.gallery-container{
    background-image: url('../../../assets/gallery-page/mainImage.png');
    background-size:cover;
    background-position: center;
    z-index: -1;
    
    .gallery-hero{
        display: flex;
        align-items: center;
        text-align: center;
        padding-top: 20%;
        justify-content: space-evenly;
        
        h1{
            font-size: var(--step-5);
            color: var(--color-title);
            text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
            width: 20%;
            text-align: center;
        }
    
        .iamges-container{
            display: flex;
            width: 80%;
            height: 150%;
            margin-right: -50%;
            // mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
    
            .images{
                width: 30%;
                margin-left: 3%;
                background-size: cover;
                background-position: center;
                mask-image: radial-gradient(ellipse at 50%, transparent, black 0%, black 50%, transparent);
                
                h2{
                    font-size: var(--step-4);
                    color:var(--color-title);
                    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
                    align-items: center;
                    align-self: center;
                    margin:40% auto 0 ;
                }
                transition: 1s ease-in-out;
            }
            transition: 1.5s ease-in-out;
        }
        
        .iamges-container:hover{
            margin-right: 0%;
            transition: 5s ease-in-out;
            
            .images:hover{
                scale: 1.5;
                cursor: pointer;
                transition: 2s ease-in-out;
                border-radius: 5%;
            }
        }
    }

}


@media screen and (max-width: 1200px) {
    .gallery-container{
        background-image: url('../../../assets/gallery-page/mainImage.png');
        background-size:cover;
        background-position: center;
        z-index: -1;
        
        .gallery-hero{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            h1{
                display: block;
                width: 100%;
            }
        
            .iamges-container{
                margin: 10% auto;
                width: 100%;
                height: 25vh;
                display: flex;
        
                .images{
                    width: 30%;
                    height: 120%;
                    h2{
                    }
                }
            }
            
            .iamges-container:hover{
                left:-40%; /* Adjust as needed */
                .images:hover{
            }
        }
    
    }
    }}