.contact-container{
    background-image: url('../../../assets/about-us-photo.jpg');
    background-size:cover;
    background-position: center;
    z-index: -1;
    padding: 10% 5%;

    h1{
        padding: 2% 0%;
        font-size: var(--step-5);
        color: var(--color-title);
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
        width: 50%;
        text-align: center;
        margin:0 auto;
    };
    
    .form-component{
        padding-top: 5%;
        font-size: var(--step-2);
        text-align: center;
        
        .form-group-name{
            color: var(--color-title);
            display: block;
            
            label{
                text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
                display: block;
                font-size: var(--step-3);
            }
            
            input{
                font-size: var(--step-1);
                text-shadow: 0px 0px 2px black, 0 0 0em black, 0 0 0.1em black;
                margin-bottom: 1rem;
                background-color: var(--color-title);
                padding: 1rem;
                width: 50%;
                border: 1px solid black
            }
            
            textarea{
                padding: 1rem;
                background-color: var(--color-title);
                width: 50%;
                height: 15vh;
                border: 1px solid black
        }
    }
    
    .submit-contact{
        width: fit-content;
        font-size: var(--step-2);
        border-radius: 15%;
        border: none;
        white-space: nowrap; 
        display: block;
        margin: 5% auto;
        padding: 1% 3%;
        background-color: var(--color-title);
        box-shadow: 1px 1px 6px 2px rgba(255, 255, 255, 0.2);
        p{
            margin: 3% 0% 0%;
        }
    }
    .submit-contact:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.5s ease-in-out;
    }
}
}

@media screen and (max-width: 680px) {
    .contact-container{
        h1{
            padding: 25% 0 5%;
        }

        .form-component{
            .form-group-name{
                
                input{
                    margin-bottom: 1rem;
                    background-color: var(--color-title);
                    padding: 1rem;
                    width: 90%;
                }
                
                textarea{
                    width: 90%;
                }
            }
            
            .submit-contact{
                padding: 3% 5%;
            }
        }
    }
}